.city-container {
  padding: 30px;
  direction: rtl;
  font-family: "Tahoma", sans-serif;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.open-modal-btn {
  padding: 10px 20px;
  background-color: #0077ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

/* overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* content */
.modal-content {
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  width: 90%;
  max-width: 700px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  z-index: 1000000;
  margin-top: 3rem;
}

.modal-content h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-content input[type="text"],
.modal-content input[type="file"] {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.preview-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.save-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  flex: 1;
}

.cancel-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  flex: 1;
}
.modal {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.cities_list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}
.city_item {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  overflow: hidden;

  flex-direction: column;
  background-color: #fff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  gap: 10px;
}
.city_item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}
.city_item_btn {
  width: 100%;
  padding: 10px;
  text-align: center;
}
.city_item_btn button {
  background-color: #0077ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  margin: 0 1rem;
}
